#pragma once

#define CONTROLLER_NAME "therm-o"
#define CONTROLLER_MODEL "Temperature Control"
#define CONTROLLER_MANUFACTURER "Bayrischer Hof 6 Brewing Co."
#define CONTROLLER_SW_VERSION "v1.0.0"

#ifdef MYHOME
#define WIFI_SSID ""
#define WIFI_PASSWORD ""
#define MQTT_SERVER ""
#define MQTT_USER ""
#define MQTT_PASS ""
#endif
