#pragma once

#define CONTROLLER_NAME "therm-o"
#define CONTROLLER_MODEL ""
#define CONTROLLER_MANUFACTURER ""
#define CONTROLLER_SW_VERSION ""

#ifdef MYHOME
#define WIFI_SSID ""
#define WIFI_PASSWORD ""
#define MQTT_SERVER ""
#define MQTT_USER ""
#define MQTT_PASS ""
#endif
